<app-tool-bar [title]="'Angular-Challenges'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-tool-bar>

<app-card
  [iconClasses]="'fa fa-info-circle'"
  [title]="'Progress-Bar'"
  [subTitle]="'Components'"
>
  <app-progress-bar body [value]="progressValue"></app-progress-bar>
  <button footer (click)="progressValue = 75">Update</button>
</app-card>

<app-card
  [iconClasses]="'fa fa-info-circle'"
  [title]="'Accordian'"
  [subTitle]="'Components'"
>
  <app-accordion body [accordianItems]="accordionItems"></app-accordion>
</app-card>

<app-card
  [iconClasses]="'fa fa-info-circle'"
  [title]="'Card'"
  [subTitle]="'Components'"
>
  <p body>Body</p>
  <p footer>Footer</p>
</app-card>
