.accordian-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 20px;
}

i {
  color: rgb(24, 74, 77);
  transition: all 0.3s;
}

.isExpanded {
  transform: rotate(-180deg);
  display: block;
}

.content {
  padding: 10px 20px;
}
